body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
      color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }
  
  h1, p {
    text-align: center;
    margin: 20px auto ;
  }
  
  #survey-form {
    background-color: #373769;
    margin: 40px auto;
    max-width: 550px;
    min-width: 300px;
    border-radius: 6px;
    font-size: 1.1em;
  }
  
  
  
  fieldset {
    padding-top: 20px;
    border:none;
  }
  fieldset:last-of-type {
    padding-bottom: 20px;
  }
  
  #dropdown, textarea, .first-input{
    height: 2em;
    font-size: 0.9em;
    width: 100%;
    display: block;
    margin: 5px 0;
    min-height: 2em;
  }
  
  textarea {
    resize: none;
    height: 80px;
    width: 99%;
  }
  
  #name-label, #email-label, #number-label {
    margin-bottom: 15px;
    margin-left: 6px;
    margin-right: 10px;
  }
  
  .inline {
    width: unset;
    margin: 0 0.0em 0 0;
    vertical-align: middle;
  }
  
  label{
    display: block;
  }
  
  #submit {
    display: block;
    margin: 10px auto;
    width: 60%;
    font-size: 1em;
    background-color: #65a765;
    border: none;
    border-radius: 1px;
    color: #f1f1f1;
    min-width:300px;
    padding: 5px;
  }
  
  #submit:hover {
    background-color: #477547;
    color: white;
    transition: 0.6s;
  }
  
  